/* Загальні стилі */
body {
    font-family: Arial, sans-serif; /* Виправлено шрифт на Arial */
    background-color: #E6E6FA; /* Світло-фіолетовий */
    color: #4B0082; /* Темно-фіолетовий */
    margin: 0;
    padding: 0;
}

header {
    background-color: #8A2BE2; /* Фіолетовий */
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
    text-align: center;
}

.container section {
    margin-bottom: 40px;
}

.container h2,
.container h3 {
    color: #4B0082; /* Темно-фіолетовий */
}

img.main-image,
img.menu-image,
img.contact-image {
    width: 300px;
    height: auto;
    margin: 10px;
}

footer {
    background-color: #8A2BE2; /* Фіолетовий */
    color: white;
    text-align: center;
    padding: 15px; /* Внутрішні відступи */
    position: fixed; /* Зробити підвал фіксованим */
    bottom: 0; /* Вирівнювання підвалу знизу */
    width: 100%; /* Ширина підвалу по всій сторінці */
    font-family: "Courier New", monospace; /* Шрифт для підвалу */
    font-size: 14px; /* Розмір шрифту */
}

